node_modules
client/node_modules
client/build
client/.idea
client/package-lock.json
client/yarn.lock
PoS/node_modules
PoS/frontend/node_modules
PoS/frontend/build
PoS/frontend/.idea
PoS/frontend/package-lock.json
PoS/frontend/yarn.lock
PoS/server/node_modules
PoS/server/build
PoS/server/.idea
PoS/server/package-lock.json
PoS/server/yarn.lock
PoS/server/nft4art.db
