PoS/server/node_modules/**
PoS/server/cache/**
PoS/server/build/**
PoS/server/uploads/**
PoS/server/bin/**
PoS/server/.env*
PoS/server/*.js
PoS/server/test/**.js
PoS/server/services/**.js
PoS/server/endPoints/**/**.js
PoS/server/nft4Art.json*
PoS/server/nft4art.db
PoS/server/package-lock.json
PoS/server/*.keys
PoS/server/cids-created.txt
PoS/server/public/sample-mp4-file.mp4
PoS/server/utils/**.js
PoS/server/utils/transfer.json
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/package-lock.json
/client/node_modules/
