PoS/server-old/node_modules/**
PoS/server-old/cache/**
PoS/server-old/build/**
PoS/node_modules/**
PoS/build/**
PoS/server-old/nft4Art.json*
PoS/server-old/nft4Art.json
PoS/server-old/public/sample-mp4-file.mp4
