.App-logo {
  width: 50vmin;
  pointer-events: none;
  margin-bottom: 75px;
  animation: glow 7s infinite;
}

@keyframes glow {
  0% {
    filter:
    drop-shadow(0px 1px 5px  rgba(250,250,250,0.3))
    drop-shadow(1px 2px 10px rgba(250,250,250,0.3))
    drop-shadow(2px 4px 20px rgba(250,250,250,0.3))
    drop-shadow(2px 4px 50px rgba(250,250,250,0.3));
  }
  50% {
    filter:
    drop-shadow(0px 1px 5px  rgba(250,250,250,0.7))
    drop-shadow(1px 2px 10px rgba(250,250,250,0.7))
    drop-shadow(2px 4px 20px rgba(250,250,250,0.7))
    drop-shadow(2px 4px 50px rgba(250,250,250,0.7));
  }
  100% {
    filter:
    drop-shadow(0px 1px 5px  rgba(250,250,250,0.3))
    drop-shadow(1px 2px 10px rgba(250,250,250,0.3))
    drop-shadow(2px 4px 20px rgba(250,250,250,0.3))
    drop-shadow(2px 4px 50px rgba(250,250,250,0.3));
  }  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  margin-bottom: 30px;
  text-align: left;
}

.subTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.rightAligned {
  align-items: right;
  text-align: right;
  justify-content: right;
}
.leftAligned {
  align-items: left;
  text-align: left;
  justify-content: left;
}

.opaqueImg {
  background-blend-mode: screen;
  background-color: rgba(215, 209, 208, 0.9);
  height: 100%
}

.saleMain {
  position: relative;
  background: rgba(215, 209, 208, 0.9);
}

.qrCode {
  position: absolute;
  bottom: 200px;
  width: 100%;
}

.boxTitle {
  position: absolute;
  top: 200px;
  left: 150px;
  width: 100%;
  text-align: left;
}